@import "../core/core";

.dui-badge {
  width: auto;
  background-color: #f7f7f7;
  padding: 4px 14px;
  margin: 0 4px;
  border-radius: 20px;

  &-icon {
    margin-right: 3px;
  }

  &-small {
    padding: 3px 12px;
    margin: 0 3px;
  }

  &-large {
    padding: 5px 16px;
    margin: 0 5px;
  }

  &-hover {
    cursor: pointer;

    &:hover {
      background-color: map_get($grey, 1);
    }
  }

  &-text {
    &-small {
      font-size: 12px;
    }

    &-large {
      font-size: 18px;
    }
  }
}
