@import "../core/mixins";

.customButton {
  border-radius: 0;
  background-color: transparent;
  border-color: black;

  &:hover {
    background-color: black;

    @include customCss(button-text) {
      color: white;
    }
  }
}

.customInput {
  background: #f7f7f7;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);

  @include customCss(input) {
    &-underline {
      background-color: black;
    }

    &-underline-active {
      background-color: #7f16be;
    }
  }
}

.customDropdown {
  z-index: 20;

  @include customCss(dropdown) {
    background-color: white;
    border: 1px solid black;

    &-selected {
      color: black;
    }

    &-icon {
      color: black;
    }

    &-drawer {
      background-color: white;
      border: 1px solid black;

      &-item {
        color: black;
      }

      &-highlight {
        background-color: black;
        width: 10px;
      }
    }
  }
}