$theme: (
    primary: #da814d,
    secondary: #ef6578,
    dark: #1f1f3e,
    white: #f7f7f7
);

$grey: (
    0: rgb(255, 255, 255),
    1: rgb(225, 225, 225),
    2: rgb(200, 200, 200),
    3: rgb(175, 175, 175),
    4: rgb(150, 150, 150),
    5: rgb(125, 125, 125),
    6: rgb(100, 100, 100),
    7: rgb(75, 75, 75),
    8: rgb(50, 50, 50),
    9: rgb(25, 25, 25),
    10: rgb(0, 0, 0),
);