$index: (
    forceBelow: -2,
    below: -1,
    default: 0,
    above: 1,
    forceAbove: 2
);

$shadow: (
    xsmall: 0 1px 8px rgba(0, 0, 0, .1),
    small: 0 6px 18px rgba(0, 0, 0, .09),
    regular: 0 10px 24px rgba(0, 0, 0, .08),
    large: 0 20px 30px rgba(0, 0, 0, .07),
)