@import "./core";

* {
  box-sizing: border-box;
  transition: background .2s, color .2s;
}

body, html {
  font-size: 62.5%
}

body {
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  will-change: background-color;
  background: white;
}

hr {
  @include size(100%, 1px);
  border: 0;
  margin: 10px 0;
  background-color: rgba(map-get($theme, secondary), 0.5);

  &[invert] {
    background-color: rgba(map-get($grey, 0), 0.5);
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: map-get($grey, 1);
}

::-webkit-scrollbar-thumb {
  background: rgba(map-get($theme, secondary), 1);
  width: 8px;
}