@import "./core";

* {
  box-sizing: border-box;
  transition: background .2s, color .2s;
}

body, html {
  font-size: 62.5%
}

body {
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  will-change: background-color;
  background: white;
}

h1, h2, h3, h4, p, a, q {
  font-family: sans-serif;
  line-height: 1.5em;
  margin: 0;
  margin-top: .5em;
  color: map-get($grey, 0);
}

h1[center], h2[center], h3[center], h4[center], p[center], a[center], q[center] {
  text-align: center
}

h1[invert], h2[invert], h3[invert], h4[invert], p[invert], a[invert], q[invert] {
  color: map-get($grey, 10);
}

h1[reset-margin], h2[reset-margin], h3[reset-margin], h4[reset-margin], p[reset-margin], a[reset-margin], q[reset-margin] {
  margin: 0;
}

h1[bold], h2[bold], h3[bold], h4[bold], p[bold], a[bold], q[bold] {
  font-weight: 700;
}

a, q {
  font-weight: 400;
  font-size: 16px;
  font-size: 1.6rem;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  font-size: 4.0rem;
}

h2 {
  font-weight: 700;
  font-size: 24px;
  font-size: 2.4rem;
}

h3 {
  font-weight: 400;
  font-size: 22px;
  font-size: 2.2rem;
}

h4 {
  font-weight: 400;
  font-size: 16px;
  font-size: 1.6rem;
  letter-spacing: .1em;
}

p {
  font-weight: 300;
  font-size: 1.6rem;
  font-size: 16px;
  max-width: 500px;

  &[bold] {
    font-weight: 400;
  }

  &[small] {
    font-size: 1.2rem;
    font-size: 12px;
  }

  &[medium] {
    font-size: 1.4rem;
    font-size: 14px;
  }
}

a {
  position: relative;
  cursor: pointer;
  text-decoration: underline;

  &[hover]:before {
    @include size(100%, 100%);
    @include posAbs(-10px, 0, false, default);
    @include smooth(transform, .2s);
    content: "";
    display: block;
    z-index: -1;
    padding: 0 10px;
    transform: scaleX(0);
    transform-origin: right center;
  }

  &:hover {
    text-decoration: none;

    &:before {
      transform: scaleX(1);
      transform-origin: left center;
    }
  }

  &:focus {
    outline: 0;
    text-decoration: underline;
  }
}

q {
  font-style: italic;
  max-width: 300px;

  &[invert] {

  }
}

hr {
  @include size(100%, 1px);
  border: 0;
  margin: 10px 0;
  background-color: rgba(map-get($theme, secondary), 0.5);

  &[invert] {
    background-color: rgba(map-get($grey, 0), 0.5);
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: map-get($grey, 1);
}

::-webkit-scrollbar-thumb {
  background: rgba(map-get($theme, secondary), 1);
  width: 8px;
}