@import "../../core/core";

.card {
  position: relative;
  border-radius: 6px;
  padding: 20px;
  margin: 20px;
  background-color: map-get($theme, white);

  &-auto {
    width: auto;
  }

  &-small {
    width: 500px
  }

  &-regular {
    width: 800px
  }

  &-large {
    width: 1000px;
  }

  &-raised {
    box-shadow: map-get($shadow, regular);
    background-color: map-get($theme, white);
  }

  &-outline {
    border: 1px solid map-get($grey, 1);
  }
}