@import "../../core/core";

.dui-grid {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  padding: 10px;

  &-row {
    flex-direction: row;
  }

  &-column {
    flex-direction: column;
  }

  &-wrap {
    flex-wrap: wrap;
  }

  &-inline {
    display: inline-flex;
  }

  &-align {
    &-flex-start {
      align-items: flex-start;
    }

    &-flex-end {
      align-items: flex-end;
    }

    &-baseline {
      align-items: baseline;
    }

    &-initial {
      align-items: initial;
    }

    &-unset {
      align-items: unset;
    }

    &-stretch {
      align-items: stretch;
    }

    &-center {
      align-items: center;
    }
  }

  &-justify {
    &-center {
      justify-content: center;
    }

    &-flex-start {
      justify-content: flex-start;
    }

    &-flex-end {
      justify-content: flex-end;
    }

    &-space-between {
      justify-content: space-between;
    }

    &-space-around {
      justify-content: space-around;
    }

    &-space-evenly {
      justify-content: space-evenly;
    }

    &-initial {
      justify-content: initial;
    }

    &-unset {
      justify-content: unset;
    }
  }
}
